@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

h1 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-family: "Roboto",
    helvetica,
    arial,
    sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  text-align: center;
  color: rgb(65, 65, 65);
}

.news-container {
  background-color: #EBEAE4;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #E7E7E7;
}

.article-img {
  width: 354px;
  height: 208px;
  border-radius: 15px 15px 0px 0px;
  padding: 1px;

}

.cards-ft {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

.all-cards {
  border-radius: 19px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
}

.article-btn {
  border-radius: 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #026670;
  font-weight: bold;
  border-style: none;
}

.article-btn:hover {
  opacity: 0.6;
  background-color: #026670;
}

.button-search {
  border-radius: 6px;
  background-color: #026670;
  font-weight: bold;
}

.button-search:hover {
  opacity: 0.6;
  background-color: #026670;
}
