.followedstock-container {
  display: flex;
}

.followedstock-box{
  background-color: #14121E;
  color: white;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  height: 100px;
  width: 200px;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
}

.fs-name{
  margin: 0;
  font-size: 16px;
}

.fs-price {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.fs-percent-pos {
  margin: 0;
  align-self: center;
  margin-left: 8px;
  background: rgb(72, 161, 77);
  background: linear-gradient(90deg, rgba(72, 161, 77, 1) 0%, rgba(89, 199, 103, 1) 35%, rgba(20, 195, 156, 1) 100%);
  padding: 2px;
  border-radius: 10px;
}

.fs-percent-neg {
  margin: 0;
  align-self: center;
  margin-left: 8px;
  background: rgb(221, 91, 91);
  background: linear-gradient(90deg, rgba(221, 91, 91, 1) 0%, rgba(238, 79, 79, 1) 45%, rgba(224, 62, 62, 1) 100%);
  padding: 2px;
  border-radius: 10px;
}

.add-followedstock-box {
  background-color: #14121E;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 200px;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  font-size: 36px;
}

.follow-stock-plus{
	background: none;
	color: white;
	border: none;
	padding: 0;
  font-size: 44px;
}

.follow-stock-plus:hover {
  color: rgb(207, 214, 228);
}


.total-assets-box {
  background: rgb(45, 41, 65);
  background: linear-gradient(90deg, rgba(45, 41, 65, 1) 0%, rgba(56, 52, 80, 1) 30%, rgba(63, 59, 89, 1) 63%, rgba(69, 64, 94, 1) 100%);
  color: white;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  height: 150px;
  width: 400px;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  p{
    margin: 0;
  }
  h2{
    margin:0;
  }
}

.dash-total-value{
  font-size: 36px;
  align-self: center;
  font-weight: bold;
  margin: 0;
}

.dash-total-percentage-prof{
  font-size: 36px;
  align-self: center;
  font-weight: bold;
  margin: 0;
  color: #5ab15e;
}

.dash-total-percentage-loss{
  font-size: 36px;
  align-self: center;
  font-weight: bold;
  margin: 0;
  color: #be4b4d;
}
