// Specific CSS for your home-page
@import url(‘http://fonts.cdnfonts.com/css/segoe-ui-4’);

//background header
body {
  font-family: "Segoe UI", sans-serif;
}

.the_all_thing {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(35, 38, 45, 1) 13%,
    rgba(78, 80, 102, 1) 48%,
    rgba(28, 30, 35, 1) 93%
  );
}
