// Specific CSS for your home-page
@import url(‘http://fonts.cdnfonts.com/css/segoe-ui-4’);

//background header
body {
  font-family: "Segoe UI", sans-serif;
}

.the_all_thing {
  background-color: #EDEAE5;
  color: white;
}
