@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

.all-titles {
  border-radius: 100px;
  background-color: black;
  color: white;
}

.total-portfolio {
  font-size: 40px;
  font-weight: bold;
  color:rgb(65, 65, 65);
}

.port-total-percentage-prof {
  padding-top: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #5ab15e;
}

.port-total-percentage-loss {
  padding-top: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #be4b4d;
}



/*** Table Styles **/

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 40px;
  margin: auto;
  max-width: 900px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

th {
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: #4E5066;
  color: #FFFFFF;
  border-top: 1px solid #22262e;
}

.expanded-row:hover td{
  background: none;
  color: #13121E;
  border-top: none;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #f0f0f0;
}

tr:nth-child(odd):hover td {
  background: #4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #FFFFFF;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.profit-text {
  font-weight: bold;
  color: #48A14D;
  text-shadow: none;
}

.loss-text {
  font-weight: bold;
  color: #B33F40;
  text-shadow: none;
}

.down-arrow{
  color: #13121E;
  font-size: 22px;
}

.down-arrow:hover {
  color: #fcfbff;
}
