<div class="container">
  <div class="d-flex justify-content-center">
    <h1>News</h1>
  </div>


   <%= simple_form_for :search, url: articles_news_path, method: :get do |f| %>
   <div class="search-form-control form-group d-flex justify-content-center">
    <input class="form-control string required w-50" type="text" value="<%= params.dig(:search, :query) %>" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-primary">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
  <% end %>

<% news = params.dig(:search, :query).nil? ? [] : @client.news(params.dig(:search, :query),1) %>
  <% news.each do |n| %>
  <h4 class="border-bottom m-2 p-2 d-flex justify-content-between"><%= n.headline %> <%= link_to("Read more", n.url) %></h4>
  <br>
  <% end %>

</div>
