<div class="container">
  <div class="d-flex justify-content-center">
    <h1>News</h1>
  </div>

  <div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>
<% news = @client.news('AAPL')%>
<% latest = news.first %>
<%= latest.headline %>
</div>
