<div class="modal fade" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="sellModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal-content">
      <div class="modal-body">
        <h1 class="title_modal_acquisition">Sell </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="column" id="main">
          <div class="modall-body">
            <%= simple_form_for(@acquisition, as: :acquisition, method: :post, url: sell_acquisition_path) do |f| %>
            <div class="form-inputs">
              <%= f.association :stock, collection: current_user.stocks.distinct, label_method: :name, as: :select%>
              <%= f.input :amount_bought, :label => "Amount to sell" %>
              <div class="modal-footer">
                <div class="form-actions">
                  <%= f.button :submit, "Confirm" %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
