<div class="the_all_thing">
  <div class="container">
    <div class="banner">
      <div class="header_homepage">
        <div class="text_header">
          <div class="title_homepage">
            <div class="animated-title">
              <div class="text-top">
                <div>
                  <span class='text_ft'>Fast Track</span>
                </div>
              </div>
              <div class="text-bottom">
                <div>The ultimate stocks tracker application</div>
              </div>
            </div>
          </div>
        </div>
        <%# <img class="amz_logo"
          src="https://www.freeiconspng.com/thumbs/amazon-icon/amazon-icon--socialmedia-iconset--uiconstock-0.png"
          alt="">
        <img class="tsl_logo" src="https://iconape.com/wp-content/png_logo_vector/cib-tesla.png" alt="">
        <img class="audi_logo" src="https://www.carstock.be/media/xfvmfngx/carstock-audi-logo-350-270.png" alt="">
        <img class="tw_logo"
          src="https://www.seekpng.com/png/full/133-1334167_png-freeuse-stock-collection-of-bird-transparent-background.png"
          alt="">
        <img class="fb_logo" src="https://logos-marques.com/wp-content/uploads/2020/04/Facebook-logo.png" alt="">
        <%# <img class="gm_logo" src="https://www.autoactu.com/content/actualities/32860.jpeg" alt=""> %>
        <%# <img class="microsoft_logo" src="https://logo-marque.com/wp-content/uploads/2020/09/Microsoft-Logo.png" alt=""> %>
      </div>
    </div>
    <div class="all_cards">
      <div class="cards">
        <img class="cards_img_1st" src="https://www.editage.com/info/images/Step2.gif" alt="">
        <p class="text_card">Set up customized news to stay on top of your assets as casually or as relentlessly as you
          like</p>
      </div>
      <div class="cards">
        <h1 class="zero_card">O%</h1>
        <p class="text_card text_second_card">Invest in stocks with 0% commission</p>
      </div>
      <div class="cards">
        <img class="cards_img_2nd" src="https://pelfernathanconsulting.com/assets/img/financial-services.gif" alt="">
        <p class="text_card">The perfect app for new and experienced traders</p>
      </div>
    </div>
    <div class="mid_container">
      <div class="text_image_below">
        <div class="image_below_first">
          <img class="big_image_one"
            src="https://www.abc-conseilpatrimoine.com/resources/1343/images/undraw_businessman.png" alt="">
        </div>
        <div class="text_below">
          <p><span>Follow</span> only the stocks that interest you and get all the informations you need to optimize
            your profit</p>
        </div>
      </div>
      <div class="text_image_below">
        <div class="text_below">
          <p>Data's updated in real time, useful charts only and easy to use plateform</p>
        </div>
        <div class="image_below_two">
          <img class="big_image_two"
            src="https://www.abc-conseilpatrimoine.com/resources/1343/images/undraw_business_deal_.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
