<div class="banner">
  <div class="header_homepage">
    <div class="text_header">
      <div class="title_homepage">
        <div class="animated-title">
          <div class="text-top">
            <div>
              <span class='text_ft'>Fast Track</span>
            </div>
          </div>
          <div class="text-bottom">
            <div>The ultimate stocks tracker application</div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-sign-up-home">
      <div class="right-banner">
        <img class="cards_img_banner" src="https://i.imgur.com/F8FVRQr.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="button-homepage-container">
  <%= link_to "Start Tracking", dashboard_path,  class:"btn-homepage-custom"%>
</div>
<div class="the_all_thing">
  <div class="container">
    <div class="all_cards row">
      <div class="cards col-sm-12 col-md-12 mb-1 col-lg-3 mr-1">
        <img class="cards_img_1st" src="https://i.imgur.com/X5I3WN5.png" alt="">
        <p class="text_card">Set up customized news to stay on top of your assets as casually or as relentlessly as you
          like</p>
      </div>
      <div class="cards col-sm-12 col-md-12 mb-1 col-lg-3 mr-1">
        <h1 class="zero_card">O%</h1>
        <p class="text_card text_second_card">Invest in stocks with 0% commission</p>
      </div>
      <div class="cards col-sm-12 col-md-12 col-lg-3">
        <img class="cards_img_2nd" src="https://i.imgur.com/OiJaWPz.png" alt="">
        <p class="text_card">The perfect app for new and experienced traders</p>
      </div>
    </div>

    <%# ADD %>


  </div>
</div>
<%= render 'shared/footer' %>
