.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  border-radius: 40px;
}

.custom-alert-info {
  background-color: #13121e;
  color: #39a4a6;
  border-radius: 40px;
}

.custom-alert-warning {
  background-color: #412020;
  color: #39a4a6;
  border-radius: 40px;
}

#body {
  color: #39a4a6;
}
