.header_homepage {
  width: 1300px;
  height: 600px;
  background-color: #f6f4f5;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.text_header {
  display: flex;
  color: white;
  flex-direction: column;
  padding-left: 50px;
  width: 428px;
}

.inner_text_header {
  font-size: 4.2em;
}

.banner {
  display: flex;
  justify-content: center;
  position: relative;
  top: 40px;
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: #13121e;
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  width: 100%;
}

.text_ft {
  font-size: 82px;
}
.animated-title > div div {
  font-size: 3vmin;
  padding: 2vmin 0;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #13121e;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #13121e;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
