.login-button {
  color: #9c9c9c;
  font-size: 20px;
  font-weight: bold;
}
.login-button:hover {
  color: #777777;
  font-size: 20px;
  font-weight: bold;
}

.logout-button {
  color: #B33F40;
}
.logout-button:hover {
  color: #862a2b;
}
