.login-button {
  color: #9c9c9c;
  font-size: 20px;
  font-weight: bold;
}
.login-button:hover {
  color: #777777;
  font-size: 20px;
  font-weight: bold;
}

.logout-button {
  color: #b33f40;
}
.logout-button:hover {
  color: #862a2b;
}

.btn-search {
  background-color: #14121e;
  opacity: 0.7;
  transition: 0.5s;
  height: 38px;
  width: 38px;
  border-radius: 50px;
}

.btn-search:hover {
  opacity: 1;
}

.btn-search i {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-ghost {
  color: white;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: #13121e;
  border-color: black;
  margin-top: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.btn-ghost:hover {
  opacity: 1;
  border-color: black;
  color: black;
  background-color: white;
}

.button-div-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.homepage-banner {
  color: white;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: #13121e;
  border-color: black;
  margin-top: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.homepage-banner:hover {
  opacity: 1;
  border-color: black;
  color: black;
  background-color: white;
}
