.login-button {
  color: #9c9c9c;
  font-size: 20px;
  font-weight: bold;
}
.login-button:hover {
  color: #777777;
  font-size: 20px;
  font-weight: bold;
}

.logout-button {
  color: #B33F40;
}
.logout-button:hover {
  color: #862a2b;
}

.btn-search {
  background-color: #14121E;
  opacity: 0.7;
  transition: 0.5s;
  height: 38px;
  width: 38px;
  border-radius: 50px;
}

.btn-search:hover {
  opacity: 1;
}

.btn-search i {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
