.all_cards {
  display: flex;
  padding-top: 70px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.text_card {
  padding: 20px;
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}

.cards_img {
  width: 40px;
  height: 40px;
}

.cards_img_1st {
  height: 250px;
  margin-top: 26px;
}

.zero_card {
  font-size: 5.5rem;
}

.cards_img_2nd {
  height: 320px;
}

.text_second_card {
  position: relative;
  top: 24px;
}
