:root {
  --sidebar-email: #036670;
  --sidebar-texts: #036670;
  --dk-darker-bg: #434343;
  --navbar-bg-color: #00000000;
  --sidebar-bg-color: #f1eee9;
  --sidebar-width: 280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  margin-left: var(--sidebar-width);
}

#guest-wrapper {
  margin-left: none;
}

#wrapper.fullwidth {
  margin-left: 0;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  width: var(--sidebar-width);
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 9999999;
  border-right: 2px solid #036670;
  box-shadow: 10px 0 5px -2px rgba(136, 136, 136, 0.100);
}

.sidebar .close-aside {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  color: #39a4a6;
}

.sidebar .sidebar-header {
  border-bottom: 1px solid #2a2b3c;
}

.sidebar .sidebar-header h5 a {
  color: var(--sidebar-email);
}

.sidebar .sidebar-header p {
  color: var(--sidebar-texts);
  font-size: 0.825rem;
}

.sidebar .search .form-control ~ i {
  color: #39a4a6;
  right: 40px;
  top: 22px;
}

.sidebar > ul > li {
  padding: 0.7rem 1.75rem;
}

.sidebar ul > li > a {
  color: var(--sidebar-texts);
  text-decoration: none;
}

.welcome {
  color: var(--sidebar-email);
}

.welcome p {
  color: var(--sidebar-texts);
}

.navbar {
  background-color: var(--navbar-bg-color) !important;
  border: none !important;
}

.guest-navbar {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-grow: 0;
}
.navbar .navbar-brand {
  color: #39a4a6 !important;
}
