
:root {
  --sidebar-email: #14121E;
  --sidebar-texts: #14121E;
  --dk-darker-bg: #434343;
  --navbar-bg-color: #F6F4F5;
  --sidebar-bg-color: #F6F4F5;
  --sidebar-width: 280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: .925rem;
  background: #FFFFFF;
}

#wrapper {
  margin-left: var(--sidebar-width);
}

#guest-wrapper{
  margin-left: none;
}

#wrapper.fullwidth {
  margin-left: 0;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  width: var(--sidebar-width);
  transition: all .3s ease-in-out;
  transform: translateX(0);
  z-index: 9999999;
}

.sidebar .close-aside {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  color: #EEE;
}

.sidebar .sidebar-header {
  border-bottom: 1px solid #2a2b3c
}

.sidebar .sidebar-header h5 a {
  color: var(--sidebar-email)
}

.sidebar .sidebar-header p {
  color: var(--sidebar-texts);
  font-size: .825rem;
}

.sidebar .search .form-control~i {
  color: #2b2f3a;
  right: 40px;
  top: 22px;
}

.sidebar>ul>li {
  padding: .7rem 1.75rem;
}

.sidebar ul>li>a {
  color: var(--sidebar-texts);
  text-decoration: none;
}

.welcome {
  color: var(--sidebar-email);
}

.welcome p {
  color: var(--sidebar-texts);
}

.navbar {
  background-color: var(--navbar-bg-color) !important;
  border: none !important;
}

.guest-navbar {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-grow: 0;
}
.navbar .navbar-brand {
  color: rgb(44, 44, 44) !important
}
